other.txt
bitrix.txt
todo.txt
bitrix-users.txt
/agent-bit-control/*.exe
/agent-bit-control/dev.yaml
/agent-bit-control/agent-bit-control
/alert-notification/alert-notification
/alert-notification/*.exe
/alert-notification/dev.yaml
/logs
/bin
