[B]{{.Header}}[/B][BR][B][{{len .AlertLogs}}] [I]errors have occurred[/I][/B][BR]There are too many errors to display in the body of the message. All logs can be found in the attached file sending via email.