[SERVICE]
    flush           {{.Flush}}
    daemon          {{.Daemon}}
    log_level       {{.LogLevel}}
    plugins_file    {{.PluginsConfFile}}
    http_server     {{.HTTPServer}}
    storage.metrics {{.StorageMetrics}}

